.flashcard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
    border-radius: 4px;
}

.imageContainer {
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image {
    width: 100%;
    border-radius: 4px;
}

.phrase {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    font-size: 20px;
    height: 100%;
    padding: 4px;
}