.container {
    width: 100%;
}

.form {
    margin-top: 2em;
    width: 100%;
}

.form input[type="text"].input {
    max-width: 100%;
    width: 100%;
}

.buttonsContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 1em;
    justify-content: space-between;
    width: 100%;
}

.buttonsContainer > button {
    width: 100%;
}

.next {
    background-color: var(--lightRed);
    color: var(--red);
}

input.input[type="text"]:disabled {
    background-color: rgb(238, 238, 238);
}