.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.code {
    font-size: 50px;
}

.text {
    text-align: center; 
    margin-top: 20px;
    font-size: 40px;
}
